@media only screen and (max-width:1100px){
  .main-container-video-sec-2 .body .episode{
    width: 10%;
  }
}
@media only screen and (max-width:700px){
  .main-container-video-sec-2 .body .episode{
    width: 13%;
  }
}
@media only screen and (max-width:560px){
  .main-container-video-sec-2 .body .episode{
    width: 15%;
  }
}
@media only screen and (max-width:500px){
  .main-container-video-sec-2 .body .episode{
    width: 17%;
  }
  .main-container-download-pg{
    width: 98%;
  }
}
