html,body{
  padding:0;
  margin:0;
  background-color: rgba(0,0,0,0.7);
  font-family: Arial, Helvetica, sans-serif;
}
.heading{
  height:80px;
}
.headingdiv{
  background-color: rgba(0,0,0,0.1);
}
.main{
  width: 850px;
  margin-top: 0;
  margin-left: 10%;
  background-image: url("naruto-series-animerulz-bg-3.webp");
  background-repeat: no-repeat;
  background-position-x:center ;
  background-size: cover;
  padding-left: 20px;
}
h1{
  margin-top: 0;
  padding-top: 20px;
  padding-left: 25%;
  font-size:45px;
  float: left;
  margin-bottom: 0;
  color:rgba(255,255,255);
}
.main-head-info{
  font-size: 25px;
  padding-top: 33px;
  margin-top: 0;
  color: rgba(255,255,255,0.8);
}
.epi-img{
  margin-left: 30px;
  float:left;
  padding-right: 20px;
}
.epi-des{
  color:rgba(255,255,255,0.5);
}
.epi-name{
  color:rgba(255,255,255,0.8);
}
.scroll{
  background-color: #faa300;
  margin-top:50px ;
  width:45%;
  margin-left: 30%;
  color:rgba(0,0,0);
  border-radius: 30px;
  height: 50px;
}
.scroll-to-continue{
  font-size: 25px;
  padding:10px 10px 10px 30px;
  float: left;
}
.scroll-gif{
  height:30px;
  padding-top: 10px;
}
.continue{
  margin-left: 38%;
  margin-top: 400px;
  padding-bottom: 100px;
}
.continue-button{
  width:40%;
  background-color: #faa300;
  color:rgba(0,0,0);
  height:50px;
  border-radius: 30px;
  font-size: 30px;
}
.continue-button:hover{
  cursor: pointer;
}
.scroll-gif-continue{
  height:30px;
  padding-right: 10px;
  transform: rotate(270deg);
}
@media only screen and (max-width:1050px){
  .main{
    margin-left:5%;
  }
}
@media only screen and (max-width:975px){
  .main{
    margin-left: 0;
  }
}
@media only screen and (max-width:875px){
  .main{
    width:600px;
    margin-left:10%;
  }
  h1{
    padding-left: 10%;
  }
  .epi-des{
    font-size: 15px;
  }
  .scroll{
    width:400px;
    margin-left: 100px;
  }
  .continue-button{
    width:230px;
    margin-left: -70px;
  }
  .scroll-gif-continue{
    position:absolute;
    margin-left: -30px;
    margin-top: -3px;
  }
  .continue-text{
    padding-left: 20px;
  }
}
@media only screen and (max-width:730px){
  .main{
    margin-left: 5%;
  }
}
@media only screen and (max-width:675px){
  .main{
    margin-left: 0;
  }
}
@media only screen and (max-width:620px){
  .main{
    width:430px;
    margin-left: 10%;
  }
  .main-head-info{
    padding-top: 80px;
    padding-left: 55px;
  }
  h1{
    margin-left: 80px;
  }
  .epi-des{
    padding-top: 120px;
  }
  .epi-name{
    padding-left: 80px;
  }
  .epi-img{
    padding-left: 48px;
  }
  .scroll{
    margin-left: 0;
  }
}
@media only screen and (max-width:525px){
  .main{
    margin-left: 5%;
  }
}
@media only screen and (max-width:475px){
  .main{
    margin-left: 0;
  }
}
@media only  screen and (max-width:445px) and (min-width:431px){
  .main{
    padding-left: 5px;
  }
}
@media only screen and (max-width:430px){
  .main{
    width:400px;
    margin-left: 3%;
    padding-left: 5px;
  }
  .scroll{
    width:370px;
    margin-left: 15px;
  }
  .epi-name{
    text-align: center;
    padding-left: 0;
  }
}
@media only  screen and (max-width:420px){
  .main{
    margin-left:1.5%;
  }
}
@media only screen and (max-width:410px){
  .main{
    margin-left: 0;
  }
}
@media only screen and (max-width:405px){
  .main{
    padding-left: 0px;
  }
}
@media only screen and (max-width:400px){
  .main{
    width:370px;
    margin-left: 3%;
  }
  h1{
    padding-left: 30px;
  }
  .main-head-info{
    padding-left: 40px;
  }
  .epi-img{
    padding-left: 38px;
  }
  .scroll{
    width:350px;
    padding-left: 0;
    margin-left: 5px;
  }
  .scroll-to-continue{
    font-size: 22px;
    padding-top: 13px;
  }
}
@media only screen and (max-width:385px){
  .main{
   margin-left: 2%;
  }
}
@media only screen and (max-width:379px){
  .main{
    margin-left: 0;
  }
}
@media only screen and (max-width:369px){
  .main{
    width:100%;
  }
  .scroll{
    margin-left: 0;
  }
}
@media only screen and (max-width:360px){
  .scroll{
    width:330px;
  }
  .heading{
    width:100%;
  }
}
@media only screen and (max-width:330px){
  .epi-img{
    padding-left: 25px;
  }
  .scroll{
    width:320px;
  }
  h1{
    padding-left: 20px;
  }
  .main-head-info{
    padding-left: 30px;
  }
}